body {
  font-family: Tahoma, sans-serif;
  color: #444;
  letter-spacing: 1px;
  z-index: 1;
}

h1,
h2 {
  font-weight: normal;
}

#wrapper {
  width: 40%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid lightgray;
  background-color: rgb(230, 230, 230);
  position: fixed;
  top: 20%;
  right: 25%;
  z-index: 5;
}

.title-container {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 10px 0;
}


.title-text {
  margin-left: 20px;
  font-weight: 700;
  font-size: 25px;
}

.title-btn {
  margin: 10px 20px 0 0;
}

.title-btn > button {
  background-color: #9361bf;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
}

.form-title {
  text-align: center;
}

.form-title > p {
  padding: 16px 0 12px 0;
  font-size: 25px;
}

#book-list {
  margin: 30px;
}

#book-list ul {
  list-style-type: none;
  padding: 0;
}

#book-list li {
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
}

#book-list li:hover {
  border-color: #9361bf;
}

tbody > tr > td {
  padding: 10px 0 10px 0;
}

.author {
  margin-left: 50px;
}

.delete {
  float: left;
  background: #9361bf;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.delete:hover {
  background: #333;
}

#add-book {
  width: 300px;
  margin: 0 auto;
  display: block;
}

#add-book input {
  display: block;
  margin: 20px 0 30px 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 300px;
}

#add-book button {
  border: 1px solid #9361bf;
  background: #9361bf;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin: 20px 0;
  border-left: 0;
  color: white;
}

